<div *ngIf="payment" xmlns="">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col col-xs-4">


                <div (click)="goBack()" class="back"></div>

            </div>
            <div class="col col-xs-4">

                <div class="month-heading">{{payment?.month | month}}</div>
            </div>
            <div class="col col-xs-4">

            </div>
        </div>

        <div class="form">

            <div  *ngIf="payment.saveStatus == 0" class="flex justify-content-end" onclick="showHide()"><span class="icon add"></span> Add new utility</div>

            <div>
                <div class="newUtility flex" id="element-to-hide" >
                    <!--<div class="button-to-hide" onclick="hide()">×</div>-->
                    <!--<label  for="newUtility">New Utility</label>-->
                    <input [(ngModel)]="name" type="text" name="newUtility" id="newUtility" class="form-control"
                           placeholder="New Utility">
                    <div class="flex justify-content-around btn-add-new-utility">
                        <button (click)="addUtility(name, 0)">variable</button>
                        <button (click)="addUtility(name, 1)">fixed</button>
                    </div>

                </div>
            </div>
                <div class="row"  *ngFor="let p of payment.variable; let i = index; trackBy: trackByIndex">

                    <div class="col-sm-12 col-xs-12">
                        <div class="flex align-items-center">
                            <span class="name-utility"> {{payment.variable[i].name_variable}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label  for="prev-gas">prev</label>
                        <input  [ngClass]="wrongPayment === true ? 'error' : ''" [(ngModel)]="payment.variable[i].prev_variable" type="number" name="prev-gas" class="form-control"
                               id="prev-gas" placeholder="Previous value">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label for="next-gas">current</label>
                        <input [(ngModel)]="payment.variable[i].current_variable" required name="current_gas" type="number" class="form-control"
                               id="next-gas" placeholder="Current value">
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <label class="sr-only" for="coof">coof</label>
                        <input [(ngModel)]="payment.variable[i].coof" name="coof" type="number" class="form-control padding-10"
                               id="coof" placeholder="Current value">
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <span class="price-gas flex justify-content-end align-items-center padding-10">{{payment.variable[i].payment_variable}}
</span>
                    </div>

                </div>




                <div class="row" *ngFor="let p of payment.fixed; let i = index; trackBy: trackByIndex">
                    <div class="col-sm-12 col-xs-12">
                        <div class="flex align-items-center">
                            <span class="name-utility">{{payment.fixed[i].name_fixed}}</span>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <label class="sr-only" for="rent">Name</label>
                        <input [(ngModel)]="payment.fixed[i].payment_fixed" type="number" name="rent" class="form-control"
                               id="rent" placeholder="paymently price" required>
                    </div>


                    <div class="col-sm-2 offset-sm-6 col-xs-6">
                        <span class="price-rent flex justify-content-end align-items-center">{{payment.fixed[i].payment_fixed}}</span>
                    </div>
                </div>


            <div class="row">

                <div class="col-xs-6 col-sm-4 total-for-month">
                    <div>Total Expenses:</div>
                    <span>1 month</span>
                </div>
                <div class="col-sm-2 col-xs-6 total-for-month ">
                    <div class="flex justify-content-end">

                        {{payment.total}}
                    </div>
                </div>
            </div>
            <div class="row align-items-center" *ngIf="payment.saveStatus == 0 else close_payment">
                <div class="col-sm-6 col-xs-6">

                    <div class="save flex align-items-center" (click)="save(payment, 0)">Save</div>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="submit flex justify-content-end">
                        <button type="submit" (click)="save(payment, 1)">Confirm</button>
                    </div>
                </div>
            </div>
            <ng-template #close_payment>
                <h3 class="text-center">Payment is closed</h3>
            </ng-template>
        </div>

    </div>

</div>
<!--<div id="overlay"></div>-->
<!--<div  [ngClass]="wrongPayment === true ? 'visible' : ''"  id="wrongValue" class="mess wrong-value">-->
    <!--<p>You can't</p>-->
<!--</div>-->
