<div *ngIf="payment" xmlns="">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col col-xs-4">


                <div (click)="goBack()" class="back"></div>

            </div>
            <div class="col col-xs-4">

                <div class="month-heading">{{payment?.month | month}}</div>
            </div>
            <div class="col col-xs-4">

            </div>
        </div>

        <div class="form">
            <div class="row justify-content-between panel-wrap">
                <div class="col-sm-6 panel" *ngFor="let p of payment.variable; let i = index; trackBy: trackByIndex">

                    <div class="flex justify-content-center align-items-center heading-name">
                        <span [ngClass]="payment.variable[i].name_variable == 'Gas' ? 'gas' :payment.variable[i].name_variable == 'Electricity' ? 'electric' :payment.variable[i].name_variable == 'Water' ? 'water' : 'other'"
                              class="icon"></span>
                        <span class="name-utility"> {{payment.variable[i].name_variable}}</span>
                    </div>
                    <div class="flex justify-content-between">
                        <div class="value">
                            <label>Current</label>
                            <input [(ngModel)]="payment.variable[i].current_variable" required
                                   name="current_{{payment.variable[i].name_variable}}" type="number"
                                   class="form-control"
                                   placeholder="Current value">
                        </div>

                        <div class="value">
                            <label>Previous</label>
                            <!--[ngClass]="wrongPay(payment.variable[i].prev_variable) ? 'error' : ''"-->
                            <input
                                   [(ngModel)]="payment.variable[i].prev_variable" type="number"
                                   name="prev-{{payment.variable[i].name_variable}}" class="form-control"
                                   placeholder="Previous value">
                        </div>
                    </div>
                    <div class="flex justify-content-between">
                        <div class="value">
                            <label>Tariff</label>
                            <input [(ngModel)]="payment.variable[i].coof"
                                   name="coof-{{payment.variable[i].name_variable}}" type="number"
                                   class="form-control"
                                   placeholder="Tariff">
                        </div>
                        <div><span class="price-gas flex justify-content-end align-items-center padding-10">{{payment.variable[i].payment_variable}}</span>
                        </div>


                    </div>

                </div>
                <div class="col-sm-6 panel" *ngFor="let p of payment.fixed; let i = index; trackBy: trackByIndex">

                    <div class="flex justify-content-center align-items-center heading-name">
                        <span [ngClass]="payment.fixed[i].name_fixed == 'Rent' ? 'rent': 'other'" class="icon"></span>
                        <span class="name-utility">{{payment.fixed[i].name_fixed}}</span>
                    </div>
                    <div class="flex justify-content-between">
                        <div>
                            <label>Paymently price</label>
                            <input [(ngModel)]="payment.fixed[i].payment_fixed" type="number" name="payment.fixed[i].payment_fixed"
                                   class="form-control"
                                   placeholder="paymently price" required>
                        </div>
                        <div>
                            <span class="price-rent flex justify-content-end align-items-center padding-10">{{payment.fixed[i].payment_fixed}}</span>

                        </div>


                    </div>

                </div>

            </div>

            <div *ngIf="payment.saveStatus == 0" class="flex" onclick="showHide()"><span class="icon add"></span> Add
                new utility
            </div>

            <div>
                <div class="newUtility" id="element-to-hide">
                    <div class="row">
                        <div class="col-sm-6"><label class="sr-only" for="newUtility">New Utility</label>
                            <input [(ngModel)]="name" type="text" name="newUtility" id="newUtility" class="form-control"
                                   placeholder="New Utility">
                        </div>
                        <div class="col-sm-6">
                            <div class="flex btn-add-new-utility">
                                <button (click)="addUtility(name, 0)">variable</button>
                                <button (click)="addUtility(name, 1)">fixed</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">

                <div class="offset-sm-6 col-sm-3 offset-xs-6 col-xs-6 total-for-month">
                    <div>Total Expenses:</div>
                    <span>1 month</span>
                </div>
                <div class="col-sm-3 col-xs-6 total-for-month ">
                    <div class="flex justify-content-end">

                        {{payment.total}}
                    </div>
                </div>
            </div>
            <div class="row align-items-center" *ngIf="payment.saveStatus == 0 else close_payment">
                <div class="col-sm-6 col-xs-6">

                    <div class="save flex align-items-center" (click)="save(payment, 0)">Save</div>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="submit flex justify-content-end">
                        <button type="submit" (click)="save(payment, 1)">Confirm</button>
                    </div>
                </div>
            </div>
            <ng-template #close_payment>
                <h3 class="text-center">Payment is closed</h3>
            </ng-template>
        </div>

    </div>

</div>
